.tab-shortcut {
    background-image: url(./images/tabs_48x48.png);
}

.x-ie6 .tab-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/tabs_48x48.png', sizingMethod='scale');
}

.icon-tab {
    background-image:url(./images/tabs_16x16.png) !important;
}
