.systemStatus-shortcut {
    background-image: url(./images/status_48x48.png);
}


.x-ie6 .systemStatus-shortcut {
    background-image: none;
    filter: progid DXImageTransform.Microsoft.AlphaImageLoader(src='./images/status_48x48.png', sizingMethod='scale');
}

.icon-systemStatus{
    background-image:url( ./images/status_16x16.png ) !important;
}