.bugus-shortcut {
    background-image: url("./images/overlays_48x48.png");
    width: 46px;
    height: 46px;
}

.x-ie6 .bugus-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/overlays_48x48.png', sizingMethod='scale');
}

.icon-bugus {
    background-image: url( ./images/overlays_16x16.png ) !important;
}
