/*
 * 12.- the shortcut image 
 * */

.ejemplo-shortcut{
    background-image: url(./images/Ejemplo_48x48.png);
}

.x-ie6 .ejemplo-shortcut{
    background-image: none;
    filter: progid DXImageTransform.Microsoft.AlphaImageLoader(src='./images/Ejemplo_48x48.png', sizingMethod='scale');
}
/*
 * 13.- the shortcut in start menu. 
 */

.icon-ejemplo{
    background-image:url(./images/Ejemplo_16x16.png) !important;
}

