.accordion-shortcut {
    background-image: url(./images/accordion_48x48.png);
}

.x-ie6 .accordion-shortcut {
    background-image: none;
    filter: progid DXImageTransform.Microsoft.AlphaImageLoader(src='./images/accordion_48x48.png', sizingMethod='scale');
}

.icon-accordion {
    background-image:url(./images/accordion_16x16.png) !important;
}

.user {
    /*background-image:url( ../resources/icons/fam/user.gif ) !important;*/
	background-image:url(./images/user.gif) !important;
}

.user-add {
    background-image:url(./images/user_add.gif) !important;
}

.user-delete {
    background-image:url(./images/user_delete.gif) !important;
}

.connect {
    background-image:url(./images/connect.gif) !important;
}

.user-girl {
    background-image:url(./images/user_female.gif) !important;
}

.user-kid {
    background-image:url(./images/user_green.gif) !important;
}

.user-suit {
    background-image:url(./images/user_suit.gif) !important;
}
