.grid-shortcut {
    background-image: url(./images/grid_48x48.png);
}

.x-ie6 .grid-shortcut {
    background-image: none;
    filter: progid DXImageTransform.Microsoft.AlphaImageLoader(src='./images/grid_48x48.png', sizingMethod='scale');
}

.icon-grid {
    background-image:url(./images/grid_16x16.png) !important;
}

.add {
    background-image:url(./images/add.gif) !important;
}
.option {
    background-image:url(./images/plugin.gif) !important;
}
.remove {
    background-image:url(./images/delete.gif) !important;
}
.save {
    background-image:url(./images/save.gif) !important;
}

