.grid-shortcut {
    background-image: url(./Images/Grid_48x48.png);
}

.x-ie6 .grid-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./Images/Grid_48x48.png', sizingMethod='scale');
}

.icon-grid {
    background-image:url( ./Images/Grid_16x16.png ) !important;
}


.add {
    background-image:url(../../../../resources/images/icons/fam/add.gif) !important;
}
.option {
    background-image:url(../../../../resources/images/icons/fam/plugin.gif) !important;
}
.remove {
    background-image:url(../../../../resources/images/icons/fam/delete.gif) !important;
}
.save {
    background-image:url(../../../../resources/images/icons/fam/save.gif) !important;
}

