/*
 * 12.- the shortcut image 
 * */

.wizard-shortcut {
    background-image: url(./images/wizard_48x48.png);
}

.x-ie6 .wizard-shortcut {
    background-image: none;
    filter: progid DXImageTransform.Microsoft.AlphaImageLoader(src='./images/wizard_48x48.png', sizingMethod='scale');
}
/*
 * 13.- the shortcut in start menu. 
 */

.icon-wizard {
    background-image:url(./images/wizard_16x16.png) !important;
}

